{
  "environment": {
    "DOCOMO_API_KEY": "YOUR_DOCOMO_API_KEY",
    "GOOGLE_API_KEY": "YOUR_GOOGLE_API_KEY",
    "LINE_CHANNEL_ID": "YOUR_LINE_CHANNEL_ID",
    "LINE_CHANNEL_SECRET": "YOUR_LINE_CHANNEL_SECRET",
    "LINE_MID": "YOUR_LINE_MID"
  }
}
